@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
font-family: 'Poppins', sans-serif;
color: #265aa8;
background: #020811;
}
a {
color: #22a316;
font-family: 'Poppins', sans-serif;
}
.banner {
background-image: url("banner.png");
background-repeat: repeat-x;
}

.notice {
  color:#bcbcbc
}
.enter {
  background-color: #020811;
    color: #265aa8;
    padding: 15px 34px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}
