@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
font-family: 'Poppins', sans-serif;
color: #265aa8;
background: #020811;
}
a {
color: #22a316;
}
.banner {
width: 1400;
height: 175;
position:absolute;
}
.notice {
  color:#bcbcbc
}
